@media screen and (max-width:600px) {
    .mobile-logo {
        display: none !important;
        width: 100% !important;
    }
    .mobile-column {
        width: 100% !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width:960px) {
    .mobile-person-row {
        display: none !important;
    }
}