@media screen and (max-width:600px) {
    body {
        background-color: green;
    }
    .mobile-logo {
        display: none !important;
        width : 100% !important;
    }

    .mobile-column{
        width : 100% !important;
        flex-direction : column !important;
    }
    
}